/* font-family: 'Merriweather Sans', sans-serif; */

body{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    background-color: #222738;
    color:#6E7888;
}

span{
    position: relative;
    top:10px;
    font-size: 50px;
}

p{
    margin-top:0px;
}

p:hover
{
    color:white;
}

button{
    position:absolute;
    left:23%;
    top:54%;
    transform:rotate(270deg);
    color:#181825;
    background-color:#6E7888;
    border:none;
    border-radius: 50px;
    padding:10px;
    font-family: 'Merriweather Sans', sans-serif;
}

button:hover{
    background-color: white;
}

.Scoretext{
    position:absolute;
    right:23.65%;
    top:53%;
    transform:rotate(270deg);
}

.Score1{
    position:absolute;
    right:25%;
    top:54%;
    padding-top:3.5%;
    font-size:2rem;
}